@import "./../Variables/variables.scss";

.logo{
  width: 158px;
  height: 53px;
}

.changeAccInfo{
  width: 200px;
  height: 200px;
}

.textheader {
    text-align: center;
    color: $textheaderColor;
    font-size: 24px;
    font-family: $textFont;
    font-weight: bold;
    word-wrap: break-word;
    margin-top: -20px;
  }

  .textbody {
    text-align: center;
    color: $textheaderColor;
    font-size: 15px;
    font-family: $textFont;
    margin-top: -20px;
  }