@import "./../Variables/variables.scss";

.navTitle {
  text-align: center;
  font-weight: bold;
  font-family: $inputFont;
  font-size: 36px;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
}

.btnText {
  padding-left: 10px;
  font-family: $textFont;
}

.userName p {
  color: #000;
  font-family: $textFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.userName span {
  color: $greenColor;
  text-align: center;
  font-family: $inputFont;
  font-size: 12px;
  font-style: normal;
  font-weight: 850;
  line-height: normal;
}

.avatars {
  border: 2px solid $greenColor;
}

@media (max-width: 768px) {
  .navTitle {
    font-size: 16px;
  }
}
